/**
 * Custom theme
 */
:root {
  --font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --border-radius: 0;
  --form-element-spacing-vertical: 1rem;
  --form-element-spacing-horizontal: 1.25rem;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
